<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

		<bean id="tActFundMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActFundMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tactfundDao" class="onight.act.ordbgens.act.dao.TActFundDao" >
 		<property name="mapper" ref="tActFundMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="tActInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tactinfoDao" class="onight.act.ordbgens.act.dao.TActInfoDao" >
 		<property name="mapper" ref="tActInfoMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="tActInterestMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActInterestMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tactinterestDao" class="onight.act.ordbgens.act.dao.TActInterestDao" >
 		<property name="mapper" ref="tActInterestMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="tActLogsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActLogsMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tactlogsDao" class="onight.act.ordbgens.act.dao.TActLogsDao" >
 		<property name="mapper" ref="tActLogsMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="tActTradeLogsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActTradeLogsMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tacttradelogsDao" class="onight.act.ordbgens.act.dao.TActTradeLogsDao" >
 		<property name="mapper" ref="tActTradeLogsMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="tActTradeLogsHisMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="onight.act.ordbgens.act.mapper.TActTradeLogsHisMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="tacttradelogshisDao" class="onight.act.ordbgens.act.dao.TActTradeLogsHisDao" >
 		<property name="mapper" ref="tActTradeLogsHisMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	
</beans>
